
body {
    background: transparent;
}
#login label.error{
	font-weight: normal;
	color: #f00;
	margin-bottom: 20px;
}

.sidebar-footer{
	display: none;
}

#loader{
	display: none;
}
fieldset {
	width: 100%;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}
.san-sidebar {
    width: 100%;
    background: #fff;
}
.left_col {
    background: #fff;
}
a.brand-logo1 {
    width: 100px;
    margin: 20px auto;
    float: none;
    display: block;
    max-width: 80%;
}
a.brand-logo1 img {
    display: block;
}
.help-block.error {
    color: red;
}
.sidebar-tp-section:after {
    content: "";
    clear: both;
    display: block;
}
.sidebar-tp-section {
    background: #1B7749; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #2CB368, #1B7749); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #2CB368, #1B7749); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #2CB368, #1B7749); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #2CB368, #1B7749); /* Standard syntax */
    border: 1px solid transparent;
}
.profile {
    padding: 15px 15px;
}
.profile:after {
    content: "";
    clear: both;
    display: block;
}
.profile_pic {
    width: 54px;
    float: left;
}
.profile_pic .profile_img {
    width: 100%;
    margin: 0;
}
.profile_info {
    padding: 15px 0 0 15px;
    width: calc(100% - 54px);
    float: left;
    color: #fff;
}
.profile_info span.user_name {
    color: #fff;
}
.profile_info span.user_active {
    color: #fff;
}
.nav.side-menu>li>a, .nav.child_menu>li>a {
    color: #262626;
}
.nav.side-menu>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: #1B7749;
    color: #fff !important;
}
.nav.side-menu>li.active>a {
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: #1B7749;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
    color: #fff;
}
.nav-md ul.nav.child_menu li:before {
    background: #1B7749; 
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #1B7749;
}
.nav li.current-page, ul.nav.child_menu > li.current-page.active:hover {
    background: #1B7749;
    background-color: #1B7749;
}
.nav.child_menu li:hover, .nav.child_menu li.active {
    background-color: #1B7749;
}
.nav.child_menu > li {
    margin-bottom: 1px;
}